/** @format */
*{
  padding : 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
    width: 100%;
    height: 100vh;
    display: flex;

}

.container{
  width: 100%;
  height: 100%;
  display: flex;
}

.text-section{
  width: 50%;
  height: 100%;
  padding: 50px;
  align-items: end;
  background-color: black;
}
.text-section .heading{
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 10px;
}
.text-section .text {
  color: white;
  font-size: 20px;
  font-weight: light;
}
.img-section {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: end;
  align-items: end;
  background-color: rgb(159, 45, 45);
}

@media only screen and (max-width: 600px) {
  .container{
    display: grid;
  }
  .text-section{
    width: full;
  }
  .img-section{
    width: full;
  }
}